<hr>
    <div class="survey p-2">
        <h1>Student Survey Form</h1>

        <form #studentForm="ngForm">

            {{ studentForm.value | json}}

            {{studentModel | json}}


            <div>                
                <div class="form-group">
                    <label>First Name:</label>
                    <input ngModel name="firstName" type="text" class="form-control w-25" required>       
                </div>

                <div class="form-group"> 
                    <label>Last Name:</label>
                    <input ngModel name="lastName" type="text" class="form-control w-25" required>                
                </div>
            </div>

            <div class="form-group">
                <label>Age:</label>
                <input  ngModel name="age" type="number" min="18" max="99" class="form-control-sm w-auto" required>            
            </div>

            <div class="form-group">                        
                <label>Higest Level of Education Completed:</label>
                <br>
                <select ngModel name="educationLevel" class="custom-select">
                    <option *ngFor="let education of educationLevel">{{ education }}</option>
                </select>            
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input  ngModel name="email" type="email" class="form-control w-25" required>            
            </div>

            <div class="form-group">
                <label>Phone Number:</label>
                <input  ngModel name="phone" type="tel" class="form-control w-25" required>            
            </div>
            
            <div>
                <p style="color:red" *ngIf="studentForm.form.invalid">Please fill out form</p>
                <p style="color:green" *ngIf="studentForm.form.valid">Form is filled check for error and submit.</p>
            </div>

            <button [disabled]="studentForm.form.invalid" class="btn btn-primary my-2" type="submit">Submit</button>
            
        </form>
    </div>
    


<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>

<button (click)="changeFirst()"><i class="fa-solid fa-hands-clapping"></i> Say Hi!</button>

<main *ngIf="first">
    <h1>Hello!</h1>

    <h1>My name is {{myName}}</h1>

    <hr>

    <button > Hi Umang! How are you?</button>

</main>





