<h1>Favorite Book</h1>

<form [formGroup]="favoriteBook">
    <div class="form-group">
        <label>Book Name</label>
        <input formControlName="bookName" type="text" class="form-control w-25">
    </div>

    <div formGroupName="authorName">
        <div class="form-group">
            <label>Author First Name</label>
            <input formControlName="authorFirstName" type="text" class="form-control w-25" required>
        </div>
        <div class="form-group">
            <label>Author Last Name</label>
            <input formControlName="authorLastName" type="text" class="form-control w-25" required>
        </div>
    </div>
    

    <div class="form-group">
        <label>Times Read</label>
        <input formControlName="timesRead" type="number" class="form-control w-25" >
    </div>

    <br><br>
    <button class="btn btn-primary">Submit</button>
    
</form>


<table>
    <tr>
        <th>Color</th>
        <th>Likes</th>
        <th>Dislikes</th>
    </tr>

    <tr *ngFor="let color of favoriteColors">
        <td>{{color.Color}}</td>    
        <td>{{color.NumberofLikes}}</td>
        <td>{{color.NumberofDislikes}}</td>    
        <td>Hello</td>
    </tr>
</table>




