<h1>{{title}}</h1>

<main>
    <button class="btn btn-primary  m-2" routerLink="Pageone" routerLinkActive="active">Page One</button>
    <button class="btn btn-primary  m-2" routerLink="Pagetwo" routerLinkActive="active">Page Two</button>
    <button class="btn btn-primary  m-2" routerLink="Pagethree" routerLinkActive="active">Page Three</button>
    <button class="btn btn-primary  m-2" routerLink="Pagefour" routerLinkActive="active">Page Four</button>
    <button class="btn btn-primary  m-2" routerLink="Pagefive" routerLinkActive="active">Page Five</button>
</main>
<br>
<br>
<hr>
<br>
<router-outlet></router-outlet>